header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
    z-index: 99;
    &.secondary-menu {
        background-color: #fff;
        .container {
            .logo {
                background: url(../img/logo-color.svg) no-repeat center center;
                background-size: contain;
            }
        }
        nav {
            ul {
                li {
                    a {
                        color: $grey-400;
                    }
                }
            }
        }
    }

    .container {
        height: 8.8rem;
        @include flex(row, center, space-between);
        .logo {
            display: inline-block;
            background: url(../img/logo.svg) no-repeat center center;
            height: 3rem; 
            width: 100%;       
            max-width: 13.2rem;
            background-size: contain;

    }

    }
    nav {
        @include flex(row, center, space-between);
        ul {
            margin-right: 5.9rem;
            @include flex(row, center, space-between);
            li {
                &:not(:first-child) {
                    margin-left: 4.8rem;
                }
                a {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 125%;
                    color: $white;
                    transition: all 0.3s;
                    &:hover {
                        color: $brand-yellow;
                    }
                }
            }
        }
        .btn-mobile {
            display: none;
        }
    }
    @include responsive(1080px) {
        position: absolute;
        &.secondary-menu {
            display: none;
        }
        nav {
            ul {
                margin-right: 4rem;
                li {
                    &:not(:first-child) {
                        margin-left: 2.5rem;
                    }
                }
            }
        }
    }
    @include responsive(991px) {
        .container {
            img {
                max-width: 10.8rem;
            }
        }
        nav {
            ul {
                display: none;
            }
            .btn-mobile {
                display: block;
                margin-left: 4rem;
                background-color: transparent;
            }
        }
    }
    @include responsive(480px) {
        .container {
            height: 7.3rem;
        }
        nav {
            .btn-white {
                display: none;
            }
        }
    }
}