* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-size: 62.5%;
    @include responsive(1300px) {
        font-size: 58%;
    }
    @include responsive(480px) {
        font-size: 62.5%
    }
}

html,
body {
    overflow-x: hidden;
}

    